#heading {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 40px;
}

#box {
    text-align: center;
    align-items: center;
    align-content: center;
    width: 100%;
}